.portfolioContent {
	display: flex;
	flex-wrap: wrap;
	// :last-child {
	// 	margin-bottom: 25px;
	// }
	img {
		height: 100%;

	}
	.left, .right {
		display: flex;
		padding: 25px;
		-webkit-box-shadow: 1px 5px 40px 5px rgba(250,190,1,0.25); 
		box-shadow: 1px 5px 40px 5px rgba(250,190,1,0.25);
		align-items: center;
	}
	.right {
		flex-direction: row-reverse;
	}
	.portfolioContentInfo {
		display: flex;
		flex-direction: column;
	}
	h5, p, .portfolioSkills {
		padding-left: 15px;
		margin: 20px;
	}
	h5 {
		font-size: 25px;
	}
	p {
		word-wrap: break-word;
	}
	a {
		color: #000;
		:hover {
			h5 {
				color: #fabe01;
			}
		}
	}
	.portfolioSkills {
		display: flex;
		font-size: 30px;
		flex-wrap: wrap;
		color: #fabe01;
		i {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
}