html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

h2 {
  font-size: 48px;
  margin: 0; }

.sectionTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 70px; }

#about .sectionTitle {
  margin-bottom: 0; }

.sectionTitle i {
  color: #fabe01;
  margin-right: 10px;
  margin-top: 25px;
  margin-left: 0; }

.sectionTitle::before {
  content: "";
  display: block;
  border-top: 1px solid #fabe01;
  width: 100%;
  margin-top: 32px;
  margin-left: -1110px; }

.sectionTitleText h3 {
  font-size: 36px;
  margin: 0; }

.sectionTitleText span {
  color: #fabe01; }

.sectionTitleText p {
  font-size: 15px;
  color: #fabe01;
  margin: 0; }

button, #home a {
  background-color: #000;
  color: #fff;
  width: 130px;
  height: 35px;
  border: none;
  font-size: 15px; }

button:hover, #home a:hover {
  color: #dabe01; }

nav {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold; }

nav img {
  width: 50px; }

.navBar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.navBar li {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 30px; }

.navBar a {
  color: #000; }

.navBar a:hover {
  color: #fabe01; }

.toggleNav {
  display: none; }

#home a {
  padding: 5px 20px; }

header {
  height: 700px;
  width: 100%;
  background-color: #fabe01;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.headerWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }

.headerPicture img {
  border-radius: 50%;
  border: 3px solid #000;
  margin-right: 75px;
  width: 400px; }

.headerName h1 {
  font-weight: bold;
  font-size: 48px;
  margin: 0; }

.headerName p {
  font-size: 18px; }

.nameAndPhoto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.aboutMeData {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  margin-left: 60px;
  font-family: 'Roboto', sans-serif; }
  .aboutMeData h3 {
    font-size: 24px;
    margin: 0; }
  .aboutMeData h4 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 0; }
  .aboutMeData span {
    color: #fabe01; }

.aboutSkillsTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  margin-bottom: 20px; }
  .aboutSkillsTitle h4 {
    font-size: 24px;
    margin: 0; }
  .aboutSkillsTitle i {
    color: #fabe01;
    margin-right: 10px;
    margin-top: 5px; }

.skillIcons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px; }

.skillIcons i {
  padding: 0 15px 15px 15px; }

.aboutSocial {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .aboutSocial ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.aboutSocial li {
  font-size: 20px;
  margin-right: 10px; }
  .aboutSocial li a {
    color: #000; }
    .aboutSocial li a :hover {
      color: #dabe01; }

.aboutSocial img {
  width: 300px;
  border: 3px solid #dabe01;
  margin-bottom: 20px; }

.portfolioContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .portfolioContent img {
    width: 350px; }
  .portfolioContent div {
    margin: 5px 10px;
    width: 350px;
    -webkit-box-shadow: -1px 5px 16px 0px rgba(105, 105, 105, 0.37);
    -moz-box-shadow: -1px 5px 16px 0px rgba(105, 105, 105, 0.37);
    box-shadow: -1px 5px 16px 0px rgba(105, 105, 105, 0.37); }
  .portfolioContent h5, .portfolioContent p {
    padding-left: 15px;
    margin: 20px; }
  .portfolioContent p {
    word-wrap: break-word; }
  .portfolioContent a {
    color: #000; }
  .portfolioContent div:hover {
    background: #dabe01; }

.contactForm {
  -webkit-box-shadow: -1px 5px 16px 0px rgba(105, 105, 105, 0.37);
  box-shadow: -1px 5px 16px 0px rgba(105, 105, 105, 0.37);
  max-width: 775px;
  width: 100%;
  background: #fff;
  padding: 20px;
  position: relative;
  z-index: 10;
  margin: 0 auto; }

.contactTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 75px; }
  .contactTitle h3 {
    margin: 0; }
  .contactTitle i {
    color: #fabe01;
    margin-right: 10px;
    margin-top: 2px; }

.contactFormWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 auto; }
  .contactFormWrap form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-right: 25px; }
  .contactFormWrap .contactListsTitle {
    background-color: #dabe01;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 5px;
    margin-top: 20px; }
  .contactFormWrap h4 {
    font-size: 18px; }
  .contactFormWrap .contactLists {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
    color: #fff; }
  .contactFormWrap .contactListWrap {
    width: 50%;
    line-height: 30px; }
  .contactFormWrap .contactLeft i {
    background-color: #dabe01;
    color: #000;
    width: 20px;
    text-align: center;
    padding: 2px;
    margin: 13px 10px 0 10px; }
  .contactFormWrap .contactRight li {
    padding: 2px;
    margin: 5px; }
  .contactFormWrap .contactRight i {
    margin-right: 10px; }
  .contactFormWrap .contactRight a {
    color: #fff; }
  .contactFormWrap .contactRight a:hover {
    color: #dabe01; }
  .contactFormWrap input, .contactFormWrap textarea {
    border: 1px solid #000;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px;
    margin-top: 5px; }
  .contactFormWrap label {
    margin-top: 20px;
    font-size: 15px; }

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 20px; }

.map {
  background-image: url(../images/map_of_toronto.png);
  width: 100%;
  background-position: bottom;
  height: 500px;
  position: relative;
  margin-top: -225px; }

footer {
  background-color: #fabe01;
  height: 40px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%; }

@media screen and (max-width: 1190px) {
  nav img {
    margin-left: 5px; } }

@media screen and (max-width: 1120px) {
  .sectionTitle::before {
    margin-left: -970px; } }

@media screen and (max-width: 985px) {
  .sectionTitle::before {
    margin-left: -900px; } }

@media screen and (max-width: 915px) {
  .sectionTitle::before {
    margin-left: -850px; }
  .headerPicture {
    margin-left: 2%; }
  .aboutLists ul {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .aboutLists li {
    margin-left: 10%; } }

@media screen and (max-width: 860px) {
  .sectionTitle::before {
    margin-left: -800px; }
  .menu {
    position: relative;
    display: inline-block; }
  .menu ul {
    display: none; }
  .menu ul.active {
    display: block; }
  .menu ul {
    width: 200%;
    position: absolute;
    top: 120%;
    right: 10px;
    border: 1px solid #000;
    background: #fff; }
  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: ''; }
  .menu li {
    margin: 10px;
    display: block;
    border-bottom: 1px dotted #000; }
  .menu a {
    display: block; }
  .toggleNav {
    padding: 20px;
    color: #777;
    font-size: 20px; }
  .toggleNav:hover, .toggleNav.active {
    text-decoration: none;
    color: #000; } }

@media screen and (max-width: 820px) {
  .sectionTitle::before {
    margin-left: -750px; } }

@media screen and (max-width: 760px) {
  header {
    height: 350px; }
  .sectionTitle::before {
    margin-left: -700px; }
  .headerPicture {
    display: none; }
  .headerName {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (max-width: 720px) {
  .sectionTitle::before {
    display: none; }
  .sectionTitle i {
    margin-left: 2%; }
  .aboutMeData, .aboutSocial, .contactFormWrap form {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .nameAndPhoto, .contactFormWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contactFormWrap .contactListWrap {
    width: 100%;
    line-height: 30px; }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5%; } }

@media screen and (max-width: 670px) {
  .sectionTitle {
    margin-bottom: 40px;
    margin-top: 40px; }
  .contactTitle {
    display: none; } }

@media screen and (max-width: 416px) {
  .headerName {
    text-align: center; }
  .aboutSkillsTitle {
    margin-left: 10px; } }

@media screen and (max-width: 370px) {
  body {
    margin: 0 auto; }
  .portfolioContent img {
    width: 100%; } }
